.min-h-screen{
    min-height: 100vh;
}

.bg-red{
    background-color:red;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.flex-col{
    flex-direction: column;
}

.font-bold{
    font-weight: bold;
}
.justify-center {
    justify-content: center;
}
.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}
.my-2{
    margin-top: 13px;
    margin-bottom: 13px;
}
.px-2{
   padding-left: 13px; 
   padding-right: 13px; 
  
}
.text-blue{
    color: rgba(114, 24, 167, 0.759);
}
.logo{
    font-size: 1.3rem;

}
.lo{
    width: 200px;
}
.btn{
    padding: 4px 12px;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-color: rgba(27, 107, 95, 0.759);
}
.text-center{
    text-align: center; 
}
